@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#app {
    position: fixed; /* or absolute */
    top: 30%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -30%);
}

#text-input {
    border: 1px solid lightgray;
}

#output {
    padding: 5px;
}

#words {
    padding: 5px;
    columns: 7em;
}

#grouped-letter {
    font-weight: bold;
    font-size: 120%;
}

.word-group {
    background-color: dimgray;
}

#geeksforgeeks_image {
    float: left;

}

#geeksforgeeks {
    border: 1px solid black;
    float: right;
}

[unselectable] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}